<section class="upsell-header-bar">
          <div class="container">
            <div class="upsell-header-bar__wrapper">
              <div class="upsell-header-bar__left">
                <div class="upsell-header-bar__logo"><img src="{{ 'images/next-logo.png' | campaign_asset }}" loading="eager" alt="{{ campaign.store_name }}" class="brand-logo"></div>
              </div>
              <div class="upsell-header-bar__right">
                <div class="upsell-header-bar__steps">
                  <div class="upsell-header-bar__stepper">

                    <div class="upsell-header-bar__step">

                      <div class="upsell-header-bar__step-content">
                        <div class="upsell-header-bar__step-label">Afrekenen</div>
                      </div>
                    </div>
                    <div class="upsell-header-bar__step">

                      <div class="upsell-header-bar__step-content">
                        <div class="upsell-header-bar__step-label"> &#8250; </div>
                      </div>
                    </div>
                    <div class="upsell-header-bar__step upsell-header-bar__step--active">

                      <div class="upsell-header-bar__step-content">
                        <div class="upsell-header-bar__step-label">Upgrades</div>
                      </div>
                    </div>
                    <div class="upsell-header-bar__step">

                      <div class="upsell-header-bar__step-content">
                        <div class="upsell-header-bar__step-label"> &#8250; </div>
                      </div>
                    </div>
                    <div class="upsell-header-bar__step">

                      <div class="upsell-header-bar__step-content">
                        <div class="upsell-header-bar__step-label">Overzicht</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
