<div data-next-catalog-component="express-checkout" data-next-express-checkout="container" class="exp-checkout">
  {% if show_title != false %}
  <div class="express-checkout__title">Express Checkout</div>
  {% endif %}
  <div data-next-component="express-error" class="next-toast-handler">
    <div class="tip1_bar is-warning">
      <div data-next-component="express-error-text" class="text-sm">Error message</div>
    </div>
  </div>
  <!-- Buttons are injected by campaign-cart ExpressCheckoutContainerEnhancer -->
  <div data-next-express-checkout="buttons" class="express-checkout__buttons"></div>
  {% if show_divider != false %}
  <div class="divider-section">
    <div class="divider-section__line-v2"></div>
    <div class="divider-section__text-v2">OR</div>
    <div class="divider-section__line-v2"></div>
  </div>
  {% endif %}
</div>
